body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: sans-serif;
  background-color: #FBB969;
}

* {
    font-family: 'Montserrat', sans-serif !important;
    transition-duration: 0.25s !important;
}

.game-card {
    -webkit-box-shadow: 5px 5px 9px -7px rgba(0,0,0,0.29);
    -moz-box-shadow: 5px 5px 9px -7px rgba(0,0,0,0.29);
    box-shadow: 5px 5px 9px -7px rgba(0,0,0,0.29);
}

.game-card-border {
    -webkit-box-shadow: 5px 5px 9px -7px rgba(0,0,0,0.29);
    -moz-box-shadow: 5px 5px 9px -7px rgba(0,0,0,0.29);
    box-shadow: 5px 5px 9px -7px rgba(0,0,0,0.29);
    border: 1px solid rgba(100, 100, 100, 0.24);
}